<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="{{ .Site.Params.author.name }}">
  <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
  <meta name="description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.description }}{{ end }}">
  {{ template "_internal/opengraph.html" . }}
  {{ template "_internal/twitter_cards.html" . }}
  <link rel="canonical" href="{{ .Permalink }}">
  <link rel="icon" type="image/svg+xml" href="/favicon.svg">
  <link rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" href="{{ "feed.xml" | absURL }}">
  <link rel="preload" href="/fonts/newsreader-var.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/newsreader-italic-var.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/jetbrains-mono-400.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="stylesheet" href="/css/custom.css">

  {{ if .IsHome -}}
  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "WebSite",
    "name": {{ .Site.Title }},
    "url": {{ .Site.BaseURL }},
    "description": {{ .Site.Params.description }}
  }
  </script>
  {{- else if and .IsPage (eq .Section "posts") -}}
  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "BlogPosting",
    "headline": {{ .Title }},
    "description": {{ or .Description .Summary | plainify }},
    "inLanguage": {{ .Site.LanguageCode | default "en-us" }},
    "mainEntityOfPage": { "@type": "WebPage", "@id": {{ .Permalink }} },
    "author": { "@type": "Person", "name": {{ or .Params.author .Site.Params.author.name }} },
    "datePublished": {{ .PublishDate.Format "2006-01-02T15:04:05Z07:00" }},
    "dateModified": {{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }},
    {{ with .Params.images }}"image": {{ range first 1 . }}{{ . | absURL }}{{ end }},{{ end }}
    "url": {{ .Permalink }},
    "wordCount": {{ printf "%d" .WordCount }},
    "keywords": {{ .Params.tags | default (slice) }}
  }
  </script>
  {{- end }}
</head>
